.example-container {
    margin-top:30px;

    .flex {
        display: flex;

        &.flex-row {
            flex-direction: row;
        }

        &.flex-wrap {
            flex-wrap: wrap;
            width: 80vw;
        }

        &.flex-basis-50 {
            flex-basis: calc(50% - 20px);
        }

        &.flex-column {
            flex-direction: column;
            height: 200px;
            overflow: scroll;
            margin: 10px;
        }

        img {
            width: 10vw;
            height: 10vw;
        }
    }

    p {
        font-size: 30px;
        padding-left: 10px;

    }

}